[mod-name]
autodrive=Autodrive

[mod-description]
autodrive=Equipamento do veículo para evitar trens, seguir jogadores, integração de rede logística, conectividade de rede de circuitos, recarga de combustível, recarga de munição, controle de rádio, seleção de alvos inimigos e controle de portão. Requer um mod de grade de veículo.

# Added for 1.1.13
[controls]
emergency-stop=Pare o veículo em caso de emergência
player-cancelled-path=Mude o veículo com direção automática para direção manual

# Added for 1.1.13
[controls-description]
emergency-stop=Pare um veículo controlado pelo Autodrive (motorista ou passageiro). Isso mudará o veículo para direção manual e excluirá o caminho atual!
player-cancelled-path=Mude um veículo controlado pelo Autodrive para condução manual (motorista). Isso excluirá o caminho atual!

[entity-name]
autodrive-requester=Baú solicitador oculto (depuração do Autodrive)
autodrive-provider=Baú provedor oculto (depuração Autodrive)

[entity-description]
autodrive-requester=Será criado baú solicitador oculto para carros com sensor logístico.
autodrive-provider=Será criado baú provedor oculto para carros com sensor logístico.

[item-name]
autodrive-control=Controle de rádio do veículo
autodrive-train-sensor=Sensor de trem
autodrive-enemy-sensor=Sensor de inimigo
autodrive-fuel-sensor=Sensor de combustível
autodrive-ammo-sensor=Sensor de munição
autodrive-gate-sensor=Sensor de portão
autodrive-logistic-sensor=Sensor de rede logística
autodrive-circuit-sensor=Sensor de rede de circuito (ondas curtas)
autodrive-follow-sensor=Sensor de acompanhamento do jogador
autodrive-repair-sensor=Sensor de reparo __1__

[item-description]
autodrive-control=Arraste para selecionar um ou mais veículos. Clique para despachar os veículos selecionados para um local.
autodrive-train-sensor=O veículo detectará um trem próximo em movimento e freará automaticamente ou acelerará fortemente se já estiver cruzando os trilhos. Não faz nada se você estiver dirigindo sobre trilhos!
autodrive-enemy-sensor=O veículo detectará e mirará nos inimigos próximos ao alcance de suas armas. Entra no modo de pânico se o veículo estiver desarmado ou sem munição!
autodrive-fuel-sensor=O veículo será reabastecido a partir do porta-malas.
autodrive-ammo-sensor=O veículo recarregará a munição de seu porta-malas.
autodrive-gate-sensor=O veículo será capaz de passar pelos portões.
autodrive-logistic-sensor=O veículo interagirá com a rede logística quando estacionado. Os slots de tronco filtrados são preenchidos como um baú solicitador, e os slots não filtrados são exportados como um baú provedor ativo.
autodrive-circuit-sensor=O veículo interagirá com a rede de circuitos através de um canal de ondas curtas. Use o controle de rádio para selecionar um veículo e um rádio para associar os dois! \n Dica: Use os sinais X e Y para enviar um veículo para a posição especificada!
autodrive-follow-sensor=O veículo seguirá o jogador que ativou o modo de acompanhamento na GUI.
#~ autodrive-repair-sensor=Vehicle will use any repair tools from its inventory to heal itself.
autodrive-repair-sensor=__1__ __plural_for_parameter_1_{1=construction bot|rest=construction bots}__ consertará o veículo sempre que necessário, usando pacotes de reparo do porta-malas.\nSe disponíveis, kits de reparo de outros mods também serão usados.

#~ [equipment-name]
#~ autodrive-train-sensor=Train sensor
#~ autodrive-enemy-sensor=Enemy sensor
#~ autodrive-fuel-sensor=Fuel sensor
#~ autodrive-ammo-sensor=Ammo sensor
#~ autodrive-gate-sensor=Gate sensor
#~ autodrive-logistic-sensor=Logistic network sensor
#~ autodrive-circuit-sensor=Circuit network sensor (Shortwave)
#~ autodrive-follow-sensor=Follow player sensor
#~ autodrive-repair-sensor=Repair sensor __1__

#~ [equipment-description]
#~ autodrive-train-sensor=Vehicle will sense a nearby moving train and brake automatically, or accelerate hard if already crossing rails. Does nothing if you're driving along rails!
#~ autodrive-enemy-sensor=Vehicle will sense and target nearby enemies within range of its guns. Enters panic mode if vehicle is unarmed or has run out of ammo!
#~ autodrive-fuel-sensor=Vehicle will refuel from its trunk.
#~ autodrive-ammo-sensor=Vehicle will reload ammunition from its trunk.
#~ autodrive-gate-sensor=Vehicle will be able to path through gates.
#~ autodrive-logistic-sensor=Vehicle will interact with the logistic network when parked. Filtered trunk slots are refilled like a requester chest, and unfiltered slots are exported like an active provider chest.
#~ autodrive-circuit-sensor=Vehicle will interact with the circuit network via a Shortwave channel. Use the radio control to select a vehicle and a radio to associate the two!\nHint: Use signals X and Y to send a vehicle to the specified position!
#~ autodrive-follow-sensor=Vehicle will follow the player who turned on follow mode in the GUI.
#autodrive-repair-sensor=Vehicle will use any repair tools from its inventory to heal itself.
#~ autodrive-repair-sensor=__1__ __plural_for_parameter_1_{1=construction bot|rest=construction bots}__ will repair the vehicle on the fly whenever necessary, using repair packs from the trunk.\nIf available, repair kits from other mods will also be used.

[technology-name]
autodriving=Controle de rádio do veículo
autodriving-train-tech=Sensor de trem
autodriving-enemy-tech=Sensor de inimigo
autodriving-fuel-tech=Sensor de combustível
autodriving-ammo-tech=Sensor de munição
autodriving-gate-tech=Sensor de portão
autodriving-logistic-tech=Sensor de rede logística
autodriving-circuit-tech=Sensor de rede de circuito (ondas curtas)
autodriving-follow-tech=Sensor de seguir o jogador
autodriving-repair-tech=Reparar sensor __1__

[technology-description]
autodriving=Controle seus veículos remotamente!
autodriving-train-tech=O veículo detectará um trem próximo em movimento e freará automaticamente ou acelerará fortemente se já estiver cruzando os trilhos. Não faz nada se você estiver dirigindo sobre trilhos!
autodriving-enemy-tech=O veículo detectará e mirará nos inimigos próximos ao alcance de suas armas. Não faz nada se o veículo estiver desarmado.
autodriving-fuel-tech=O veículo será reabastecido a partir do porta-malas.
autodriving-ammo-tech=O veículo recarregará a munição do porta-malas.
autodriving-gate-tech=Veículo abrirá portões sem motorista. Permite a localização de caminhos através de portões.
autodriving-logistic-tech=O veículo interagirá com a rede logística quando estacionado. Os slots de tronco filtrados são recarregados como um baú solicitador, e os slots não filtrados são exportados como um baú provedor ativo.
#~ autodriving-circuit-tech=Vehicle will interact with the circuit network via a Shortwave channel. Use the radio control to select a vehicle and a radio to associate the two. Send X and Y signals to the shortwave channel to direct the vehicle.
autodriving-circuit-tech=O veículo interagirá com a rede de circuitos através de um canal de ondas curtas. Associe um veículo a um rádio selecionando ambos com o controle remoto e, em seguida, direcione-o para uma nova posição enviando sinais X e Y através do rádio!
autodriving-follow-tech=O veículo seguirá um jogador.
#~ autodriving-repair-tech=Vehicle will use repair tools from its inventory to heal itself.
autodriving-repair-tech=O veículo equipado com este sensor será reparado até __1__ __plural_for_parameter_1_{1=construction bot|rest=construction bots}__ com ferramentas de reparo do porta-malas.


[virtual-signal-name]
autodrive-request=Solicitação: __1__
autodrive-provide=Forneça: __1__

[virtual-signal-description]
autodrive-request=Solicitado via rede de circuitos no Autodrive
autodrive-provide=Fornecido via rede de circuitos no Autodrive
